skill-item {
  display: inline-block;

  &.single {
    font-size: 30px;

    > span {
      &:before {
        height:        30px;
        width:         30px;
        margin-bottom: -5px;
        display:       inline-block;
        }
      }
    }

  > span {
    display: inline-block;

    &:before {
      content:    ' ';
      display:    block;
      height:     18px;
      width:      18px;
      background: center center/contain no-repeat scroll transparent;
      }

    small {
      margin-right: 15px;
      }
    }

  .cmd:before {
    background-image: url(/assets/img/Command_Icon.png);
    }

  .dip:before {
    background-image: url(/assets/img/Diplomacy_Icon.png);
    }

  .eng:before {
    background-image: url(/assets/img/Engineering_Icon.png);
    }

  .med:before {
    background-image: url(/assets/img/Medical_Icon.png);
    }

  .sci:before {
    background-image: url(/assets/img/Science_Icon.png);
    }

  .sec:before {
    background-image: url(/assets/img/Security_Icon.png);
    }
  }
