# Specifies files to intentionally ignore when using Git
# http://git-scm.com/docs/gitignore

.idea/
.tmp/
.versions/
.vscode/
node_modules/
platforms/
plugins/
www/

*.sublime-project
*.sublime-workspace

src/**/*.js
src/**/*.d.ts
tests/**/*.js
tests/**/*.d.ts
!src/declarations.d.ts
!src/service-worker.js

# Logs and trash
*~
npm-debug.log*
*.sw[mnpcod]
*.log
*.swp
*.tmp
*.tmp.json
log.txt
$RECYCLE.BIN/
tsconfig.tmp.json
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate

# Build folders
.sass-cache/
*.tmp.*

# Coverege folders
config/coverage
coverage/*
!coverage/protractor

dist/
tmp/
temp/

# Doc
doc/
