# Specifies files to intentionally ignore when using Git
# http://git-scm.com/docs/gitignore

.idea/
.tmp/
.versions/
.vscode/
dist/
doc/
node_modules/
temp/
tmp/

*.sublime-project
*.sublime-workspace

src/**/*.js
src/**/*.d.ts
tests/**/*.js
tests/**/*.d.ts
!src/declarations.d.ts
!src/service-worker.js


# Build folders
.eslintcache

.sass-cache/
*.tmp.*

platforms/*
!platforms/.gitkeep

plugins/*
!plugins/.gitkeep

www/*
!www/data.json
!www/*.data.json


# Logs and trash
*~
npm-debug.log*
*.sw[mnpcod]
*.log
*.swp
*.tmp
*.tmp.json
log.txt
$RECYCLE.BIN/
tsconfig.tmp.json
.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate


# Coverege folders
config/coverage
coverage/
