/*
 * Don't forget to add `max-height` to the actual list,
 * or there will be no animation.
 */
ion-list[collapsible] {
  //max-height: 20rem;
  overflow:   hidden;
  transition: max-height ease-out, margin-bottom ease-out;

  &.collapsed {
    margin-bottom:              0;
    max-height:                 4rem !important;
    transition-timing-function: ease-in, ease-in;

    ion-list-header:after {
      transform: rotate(180deg);
      }
    }

  ion-list-header:after {
    @extend .ionicons;
    font-size:           2.4rem;
    display:             block;
    position:            absolute;
    transition-property: transform;
    }
  }

