ion-list[collapsible] {
  transition-duration: $toggle-wp-transition-duration;

  .list-header-wp {
    &:after {
      @extend .ion-md-arrow-up:before;
      right:               round($list-wp-header-padding-left / 2);
      transition-duration: $toggle-wp-transition-duration;
      }
    }
  }
