<ion-item>
  <ion-thumbnail
    item-left
    class="star star-{{ crew.stars }} {{ unlock ? 'unlock' : '' }}">
    <img src="http://startrektimelineswiki.com{{ crew.picture }}">
  </ion-thumbnail>

  <h2>{{ crew.name }}</h2>

  <skill-item
    *ngIf="skill" class="skills single" [name]="skill"
    [value]="crew.skillValue(skill)">
  </skill-item>

  <p *ngIf="!skill" class="skills">
    <span *ngFor="let skill of crew.possessing">
      <skill-item
        [name]="skill"
        [value]="crew.skillValue(skill)">
      </skill-item>
    </span>
  </p>
</ion-item>
