mission-item {
  .locks {
    @extend ion-icon;

    > span {
      &:before {
        content:      '\f1b0';
        margin-right: 5px;
        }

      + span {
        margin-left: 15px;
        }
      }
    }

  .requirements {
    > span {
      &:before {
        content:    ' ';
        display:    inline-block;
        height:     18px;
        width:      18px;
        background: center center/contain no-repeat scroll transparent;
        }

      &:first-child:before {
        background-image: url('/img/normal.png');
        }

      &:nth-child(2):before {
        background-image: url('/img/elite.png');
        }

      &:last-child:before {
        background-image: url('/img/epic.png');
        }

      + span {
        margin-left: 15px;
        }
      }
    }
  }
