<ion-header>
  <ion-navbar>
    <button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Crew
      <small>({{ crew.length }} in total)</small>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content fullscreen padding class="crew-list">

  <ion-list no-lines collapsible *ngFor="let list of lists">
    <ion-list-header *ngIf="list.header">
      {{ list.header | uppercase }}
    </ion-list-header>
    <crew-item *ngFor="let crew of list.crew"
               [crew]="crew" [skill]="list.skill"></crew-item>
  </ion-list>

</ion-content>

<ion-footer no-border>
  <ion-toolbar>
    <div [ngSwitch]="currentGroup">
      <!--ion-searchbar *ngSwitchCase="groups[0]"></ion-searchbar-->

      <ion-select *ngSwitchCase="groups[1]"
                  [(ngModel)]="skillFilter" (ionChange)="tabSkills()">
        <ion-option *ngFor="let sf of skills; let i = index" value="{{ sf }}">
          {{ skillNames[i] | titleCase }}
        </ion-option>
      </ion-select>

      <ion-select *ngSwitchCase="groups[2]"
                  [(ngModel)]="starFilter" (ionChange)="tabStars()">
        <ion-option *ngFor="let sf of [5,4,3,2,1]" value="{{ sf }}">
          {{ sf + '-star' }}
        </ion-option>
      </ion-select>

      <ion-select *ngSwitchCase="groups[3]"
                  [(ngModel)]="traitFilter" (ionChange)="tabTraits()">
        <ion-option *ngFor="let tf of traitList" value="{{ tf }}">
          {{ tf | titleCase }}
        </ion-option>
      </ion-select>
    </div>

  </ion-toolbar>

  <ion-toolbar>
    <ion-segment [(ngModel)]="currentGroup"
                 (ionChange)="switchTab(currentGroup)">
      <ion-segment-button *ngFor="let group of groups" value="{{ group }}">
        {{ group }}
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-footer>
